# Python / FastAPI
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.Python
backend/env/
backend/venv/
backend/.venv/
backend/pip-log.txt
backend/pip-delete-this-directory.txt

# Node / React
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.npm
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Database & Cache
dump.rdb
*.sqlite3

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS Data
.DS_Store
.AppleDouble
.LSOverride

# Artifacts & Outputs
*.zip
*.log


documentation.md 

Integrations Technical Assessment Instructions.pdf

commit_history.ps1
